* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3c81f6;
  --bg-color: #eff1f6;
  --card-color: #ffffff;
  --text-color: #0e1521;
  --muted-color: #4d545f;
  --warning-color: #e54646;

  height: 100%;
}

body {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  height: 100%;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);

  display: grid;
  grid-template-columns: 300px 1fr 1fr 400px;
  grid-template-rows: auto 1fr;
}

ul {
  list-style: none;
}

input,
button {
  font-size: 100%;
  font-family: inherit;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.1);
}

.revenue {
  grid-column: 2 / 4;
}

.orders {
  grid-column: 2 / 4;
}

.products {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.traffic {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.sidebar {
  grid-row: 1 / 5;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0.25rem;
    margin-bottom: -1rem;
  }

  div:last-of-type {
    margin-top: auto;
  }

  h3 {
    color: var(--muted-color);
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
  }

  a {
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    &.warning {
      color: var(--warning-color);
    }

    &:hover {
      background-color: var(--bg-color);
    }
  }
}

.header {
  grid-column: 2 / -1;

  display: flex;
  align-items: center;
  gap: 1rem;

  form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: auto;
  }

  & > div:last-of-type {
    position: relative;
    padding-left: 1rem;
  }

  & > div:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: solid 2px var(--bg-color);
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > div:last-of-type > div:first-of-type {
    font-weight: 700;
  }

  & > div:last-of-type > div:last-of-type {
    color: var(--muted-color);
  }
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: var(--main-color);
}

input[type="search"] {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem;
  height: 2.5rem;
  background-color: var(--bg-color);
  width: 360px;
}

input[type="search"]::placeholder {
  color: var(--muted-color);
}

.btn {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.btn.primary {
  color: white;
  background-color: var(--main-color);
}

.btn.secondary {
  color: var(--text-color);
  background-color: var(--bg-color);
}
