<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Mini Message Board</h1>

    <form action="/new" method="POST">
      <h2>Create new message</h2>
      <div>
        <label for="author">Author name</label>
        <input id="author" name="user" />
      </div>
      <div>
        <label for="text">Message</label>
        <input id="text" name="text" />
      </div>
      <button>Post message</button>
    </form>
  </body>
</html>
