<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Message detail</h1>
    <div>Author: <%= message.user %></div>
    <div>Date: <%= message.added.toLocaleString() %></div>
    <div>Text: <%= message.text %></div>
  </body>
</html>
