<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/category/new" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="category_name" required />
      </div>

      <div>
        <label for="desc">Description:</label>
        <textarea id="desc" name="category_desc"></textarea>
      </div>

      <button type="submit">Create</button>
    </form>
  </body>
</html>
