<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("navbar") %>
      <h1 class="heading"><%= title %></h1>
      <p class="mb-4">
        Welcome to MUSIC STORE. We provide a great number of musical
        instruments.
      </p>
      <p>
        <a href="/category" class="link">Shop by categories</a>
      </p>
      <p>
        <a href="/brand" class="link">Shop by brands</a>
      </p>
    </div>
  </body>
</html>
