<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include("navbar") %>
    <h1><%= title %></h1>
    <p>
      Welcome to MUSIC STORE. We provide a great number of musical instruments.
    </p>
    <p>
      <a href="/category">Shop by categories</a>
    </p>
    <p>
      <a href="/brand">Shop by brands</a>
    </p>
  </body>
</html>
