<header>
  <nav>
    <ul>
      <li>
        <a href="/">MUSIC STORE</a>
      </li>
      <li>
        <a href="/category">Categories</a>
      </li>
      <li>
        <a href="/brand">Brands</a>
      </li>
      <li>
        <a href="/item">Items</a>
      </li>
    </ul>
  </nav>
</header>
