<header class="py-4 mb-4 border-b border-gray-300">
  <nav>
    <ul class="flex gap-4">
      <li class="mr-auto">
        <a href="/" class="navlink">MUSIC STORE</a>
      </li>
      <li>
        <a href="/category" class="navlink">Categories</a>
      </li>
      <li>
        <a href="/brand" class="navlink">Brands</a>
      </li>
      <li>
        <a href="/item" class="navlink">Items</a>
      </li>
    </ul>
  </nav>
</header>
