<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | StoryClub</title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (locals.errors && errors.length > 0) { %>
    <ul>
      <% errors.map((error) => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/become-admin" method="POST">
    <div>
      <label for="pwd">Admin password:</label>
      <input type="password" id="passcode" name="password" />
    </div>
    <button type="submit">Become admin</button>
  </form>
</body>
</html>