h1 {
  color: blue;
  text-align: center;
}

table {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 200px);
  border-collapse: collapse;
  border: solid 1px black;
}

thead,
tbody {
  display: contents;
}

th,
td {
  border: solid 1px black;
  padding: 1rem 2rem;
  text-align: left;
}

tr {
  display: contents;
}
