h1 {
  color: blue;
  text-align: center;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border: solid 1px black;
}

thead,
tbody {
  display: block;
}

th,
td {
  border: solid 1px black;
  padding: 1rem 2rem;
  text-align: left;
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
