* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 24px;
}

.header {
  padding: 24px;
  color: white;
  background-color: #1F2937;
}

.header .content {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

a {
  color: lightgray;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-weight: 700;
  padding: 8px 24px;
  color: white;
  background-color: #3882F6;
  border-radius: 8px;
  border: none;
}

button.outline {
  border: solid 2px white;
}

.hero {
  background-color: #1F2937;
  color: white;
  padding: 120px 0;
  padding-top: 60px;
}

.hero .content {
  display: flex;
  gap: 64px;
  align-items: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero .text-wrapper, .hero .image-wrapper {
  flex: 1;
}

.hero .image-wrapper {
  background-color: grey;
  height: 250px;
  display: flex;
}

.hero .image-wrapper p {
  color: white;
  margin: auto
}

.hero .text-wrapper p {
  color: lightgray;
}

.infos {
  padding: 40px 0;
  text-align: center;
}

.infos h2 {
  font-size: 2rem;
}

.infos .container {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.info {
  width: 150px;
}

.info .image-wrapper {
  border: solid 5px #3882F6;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

.quote {
  background-color: #E5E7EB;
  padding: 80px;
}

.quote-text {
  color: #1F2937;
  font-size: 2.25rem;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 16px;
}

.quote-author {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: right;
}