<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FileUploader</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p><a href="<%= locals.parentFolderId ? `/folder/${parentFolderId}` : "/" %>">Go back</a></p>

    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button type="submit">Upload file</button>
    </form>
  </body>
</html>
