<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FileUploader</title>
    <style>
      table {
        border-collapse: collapse;
      }
      th, td {
        padding: .5rem 1rem;
      }
      th {
        text-align: left;
      }
      tr {
        border-bottom: solid 1px rgba(0, 0, 0, 0.2)
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("folder-table", { currentFolder: locals.currentFolder }) %>
  </body>
</html>
