<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FileUploader</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="POST">
      <div>
        <label for="name">Folder name:</label>
        <input type="name" id="name" name="name" required />
      </div>
      <button type="submit">Create folder</button>
    </form>

    <p><a href="/">Go back home</a></p>
  </body>
</html>
