<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FileUploader</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (locals.errors) { %>
      <ul>
        <% errors.map((error) => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form method="POST">
      <div>
        <label for="name">Full name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="password" required />
      </div>
      <div>
        <label for="pwd_confirm">Repeat password:</label>
        <input
          type="password"
          id="pwd_confirm"
          name="password_confirm"
          required
        />
      </div>
      <button type="submit">Create account</button>
    </form>

    <p>Have an account already? <a href="/login">Log in</a>.</p>
  </body>
</html>
