* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  height: 100%;
  padding: 2rem;
}

.board {
  outline: solid 2px black;
  background-color: rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
  position: relative;
}

.board > div {
  display: grid;
  position: absolute;
  inset: 0;
}

.board button {
  border-radius: 0;
  border: solid 1px black;
  background-color: transparent;
}

.board button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ships {
  pointer-events: none;
}

.ship {
  z-index: -1;
  background-color: blue;
  outline: solid 2px black;
  border: solid 2px black;
}
