* {
  box-sizing: border-box;
}

#grid {
  width: 960px;
  height: 960px;
  outline: solid 2px black;
  display: flex;
  flex-wrap: wrap;
}

#grid > div {
  border: solid 2px black;
  width: calc(960px / 16);
  height: calc(960px / 16);
}
